$grass-primary-palette: (
  50 : #f4f8ea,
  100 : #e4efca,
  200 : #d2e4a6,
  300 : #c0d982,
  400 : #b3d068,
  500 : #a5c84d,
  600 : #9dc246,
  700 : #93bb3d,
  800 : #8ab434,
  900 : #79a725,
  A100 : #f5ffe5,
  A200 : #e2ffb2,
  A400 : #cfff7f,
  A700 : #c5ff65,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$grass-secondary-palette: (
  50 : #e7e9ea,
  100 : #c4c8ca,
  200 : #9da3a7,
  300 : #757e83,
  400 : #586369,
  500 : #3a474e,
  600 : #344047,
  700 : #2c373d,
  800 : #252f35,
  900 : #182025,
  A100 : #6bc4ff,
  A200 : #38afff,
  A400 : #059bff,
  A700 : #008deb,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
